/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

body {
    background-color: black;
}

nav ul a, nav .brand-logo {
   color: white;
}
 
h1 {
    text-shadow: 4px 4px rgb(34, 33, 33)
}

p {
   line-height: 2rem;
}

.who {
    padding: 20px;
    text-align: center;
}

ul .who {
    list-style: inside;
}

.sidenav-trigger {
   color: white;
}

.selfimg {
    align-items: center;
    height: 300px;
    width: 300px;
    padding: 20px;
}

#fuzzy {
     opacity: 0.75 !important;
}

.parallax-container {
   min-height: 300px;
   line-height: 0;
   height: auto;
   color: rgba(255,255,255,.9);
   text-shadow: 2px 2px rgb(34, 33, 33)
}

.parallax-container .section {
     width: 100%;
}

#index-banner .section {
    top: 0;
}

.icon-block {
    padding: 0 15px;
}

.icon-block .material-icons {
    font-size: inherit;
}

footer.page-footer {
    margin: 0;
}

@media only screen and (min-width : 817px) {
    .parallax-container .section {
        position: absolute;
        top: 10%;
    }

    #index-banner .section {
        top: 10%;
    }

    .parallax-container {
        min-height: 450px;
        line-height: 0;
        height: auto;
        color: rgba(255,255,255,.9);
        text-shadow: 2px 2px rgb(34, 33, 33)
    }

    .selfimg {
        float: left;
        height: 525px;
        width: 500px;
        padding: 20px;
    }

    .who {
        align-items: right;
        padding: 20px;
    }
}

@media only screen and (min-width : 1000px) {
    .selfimg {
        float: left;
        height: 500px;
        width: 450px;
        margin-left: -60px;
        margin-right: 20px;
    }

    .parallax-container {
        min-height: 800px;
        line-height: 0;
        height: auto;
        color: rgba(255,255,255,.9);
        text-shadow: 2px 2px rgb(34, 33, 33)
     }
}